.movie_result{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 25px;
}
.movie_card{
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items: center;
    color: #BCCCDC;
    font-size: 24px;    

    border-radius: 3px;
    box-shadow: 0 0 20px #bfb8ff;
}       
.poster{
    width: 100%;
}